.flexslider {
    position: relative;
    border-radius: 0;
    box-shadow: none;
    border: 0;
}

.slide-show {
    margin-bottom: 30px !important;
}

.slide-show h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-shadow: none;
}

.slide-show .btn {
    font-size: 16px;
}

.slide-show li.slide {
    position: relative;
}

.slide-show .slide-text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-shadow: none;
}

.flex-control-nav {
    bottom: 20px !important;
}

.slide-show .slide-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 19%;
    text-align: left;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: 30px;
}

.flex-direction-nav .flex-prev {
    right: 69px;
}